<?php 
    $title="WebKit Security Group Members";
    include("../header.inc"); 
?>
<h2>WebKit Security Group Members</h2>

<p>The current members of the WebKit Security group are:</p>

<h3>Individual Members</h3>
<ul>
    <li>Adam Barth
    <li>Alexey Proskuryakov
    <li>Collin Jackson
    <li>Eric Seidel
    <li>Ian Hickson
    <li>Maciej Stachowiak
    <li>Oliver Hunt
    <li>Sam Weinig
</ul>

<h3>Vendor Contacts</h3>

<ul>
  <li>Apple
    <ul>
      <li>Adam Roben
      <li>Adele Peterson
      <li>Anders Carlsson
      <li>Antti Koivisto
      <li>Braden Thomas
      <li>Brady Eidson
      <li>Darin Adler
      <li>David Carson
      <li>David Harrison
      <li>David Kilzer
      <li>David Remahl
      <li>Drew Yao
      <li>Geoff Garen
      <li>Geoff Keating
      <li>Mark Rowe
      <li>Matthew Murphy
      <li>Richard Williamson
      <li>Stephanie Lewis
      <li>Steve Falkenburg
      <li>Tim Hatcher
      <li>Ron Dumont
      <li>Window Snyder
    </ul>

  <li>Adobe
    <ul>
      <li>Arno Gourdol
      <li>Chris Brichford
      <li>Ed Rowe
      <li>Ethan Malasky
      <li>Lawrence Lai
      <li>Mihnea Ovidenie
      <li>Peleus Uhley
      <li>Rob Christensen
    </ul>

  <li>Debian
    <ul>
      <li>Fathi Boudra
      <li>Mike Hommey
    </ul>

  <li>Garmin
    <ul>
      <li>Haitao Huang
    </ul>

  <li>Gentoo
    <ul>
      <li>Alex Legler
      <li>Pierre-Yves Rofes
      <li>Robert Buchholz
      <li>Tobias Heinlein
    </ul>

  <li>Google
    <ul>
      <li>Abhishek Arya
      <li>Berend-Jan Wever
      <li>Cary Clark
      <li>Chris Evans
      <li>Cris Neckar
      <li>Darin Fisher
      <li>Ian Fette
      <li>Justin Schuh
      <li>Michal Zalewski
      <li>Rich Cannings
    </ul>

  <li>GTK
    <ul>
      <li>Alp Toker
    </ul>

  <li>Palm
    <ul>
      <li>Brian Hernacki
    </ul>

  <li>Nokia/Qt Software
    <ul>
      <li>Ademar de Souza Reis Junior
      <li>Lars Knoll
      <li>Tor Arne Vestbø
    </ul>

  <li>Red Hat
    <ul>
      <li>Huzaifa Sidhpurwala
      <li>Jaroslav Reznik
      <li>Josh Bressers
      <li>Vincent Danen
    </ul>

  <li>Ubuntu
    <ul>
      <li>Jamie Strandboge
      <li>Kees Cook
      <li>Marc Deslauriers
    </ul>

</ul>
<?php
    include("../footer.inc");
?>
